body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #010618;
    font-family: 'Bitter', serif;
    color: white;
}

.container {
    text-align: center;
}

.form-container {
    text-align: center;
    background-color: rgb(10, 35, 58);
    padding: 30px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input {
    padding: 8px;
    margin-bottom: 20px;
    width: 200px;
}

.form-container button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    font-family: 'Bitter', serif;
    border: none;
    cursor: pointer;

}

.titulo-principal {
    text-align: center;
    font-size: 2em;
}

.titulo-resultado {
    font-size: 1em;
    background-color: rgb(30, 86, 138);
    padding: 10px;
}